h1 {
  text-align: center;
}
table {
  margin: 10px auto;
}
td {
  border: 1px solid;
  width: 50px;
  height: 50px;
  text-align: center;
}
.bomb {
  background-color: indianred;
}
.open {
  background-color: #61dafb;
}
#table-container {
  align-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
